@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <h1 class="display-4">Jokes Application</h1>
    <br />
    <h4 >Catch jokes, catch smile, catch better day!</h4>
</div>
